#navbar {
  background-color: white;
  color: #a1ce92;
  text-align: center;
  border-bottom: #a1ce92;
  display: flex;
  padding:20px;
  position:fixed;
  margin: 0 30px 0 30px ;
}

.services {
  padding-left: 250px;
}

header {
  background-color: #a1ce92;
  border-radius: 8px;
  margin: 0px 30px 30px 30px;
  padding: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


article {
  margin: 30px;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  margin: 30px;
  background-color: #a1ce92;
  border-radius: 8px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}



#back-to-top{
  background-color: #a1ce92);
  border-radius: 50%;
  border: solid #a1ce92;
  width: 50px;
  height: 50px;
}

#pp {
  border-radius: 200px;
  border-color: white;
  border-width: 8px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}